!! Colorscheme

! special
*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color0: #263640
*.color0: #263640

! green
*.color0: #263640
*.color0: #263640

! yellow
*.color0: #263640
*.color0: #263640

! blue
*.color0: #263640
*.color0: #263640

! magenta
*.color0: #263640
*.color0: #263640

! cyan
*.color0: #263640
*.color0: #263640

! white
*.color0: #263640
*.color0: #263640

!! URxvt Appearance
URxvt.font: xft:Fira Code:style=rold:size=10
URxvt.boldFont: xft:Fira Code:style=Bold:size=10
URxvt.italicFont: xft:Fira Code:style=Italic:size=10
URxvt.boldItalicFont: xft:Fira Code:style=Bold Italic:size=10
!URxvt.font: xft:Inconsolata:style=Bold:size=14
!URxvt.boldFont: xft:Inconsolata:style=Bold:size=14
!URxvt.italicFont: xft:Inconsolata:style=Italic:size=14
!URxvt.boldItalicFont: xft:Inconsolata:style=Bold Italic:size=14
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlick: true
URxvt.cursorunderline: false
URxvt.saveLines: 20000
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBel: true
URxvt.depth: 24
URxvt.iso14755: false
URxvt.transparent: true
URxvt.shading: 20

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Shift-Up: \033[1;5C
URxvt.keysym.Shift-Up: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboar:copy
URxvt.keysym.M-v: perl:clipboar:paste
URxvt.keysym.M-C-v: perl:clipboar:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1
